%html
  %head
    %title= task_list_title
    %link{:rel => "stylesheet", :href => "/css/font-awesome.min.css"}
    %link{:rel => "stylesheet", :href => "/css/bulma_custom.css"}
    %link{:rel => "stylesheet", :href => "/css/styles.css"}
  %body
    %section.section
      .columns
        .column.is-half.is-offset-one-quarter
          .heading.has-text-centered
            %h1.title= task_list_title
      .columns
        .column.is-half.is-offset-one-quarter
          = partial :new_todo
      .columns
        .column.is-half.is-offset-one-quarter
          - task_list.each do |task|
            = partial :todo, locals: {task: task}
      .columns
        .column.is-half.is-offset-one-quarter
          = partial :delete_completed
