%html
  %head
    %title= task_list_title
    %link{:rel => "stylesheet", :href => "/css/font-awesome.min.css"}
    %link{:rel => "stylesheet", :href => "/css/bulma_custom.css"}
    %link{:rel => "stylesheet", :href => "/css/styles.css"}
  %body
    %section.section
      .container
        .heading
          %h1.title= task_list_title
    %section.section
      .container
        - task_list.each do |task|
          .card{:class => "#{task.completed? ? 'true' : 'false'}" }
            %header.card-header
              %p.card-header-title #{task.title}
              .card-header-icon
                %span.icon
                  %form{:method => "post", :action => "/toggle_complete/#{task.id}"}
                    - case task.completed?
                    - when true
                      %button{:type => "submit", :value => "Undo", :title => "Mark as not complete", :class => "button is-small is-success is-outlined"}
                        %span.icon.is-small
                          %i.fa.fa-undo
                    - when false
                      %button{:type => "submit", :value => "Done", :title => "Mark as complete", :class => "button is-small is-success"}
                        %span.icon.is-small
                          %i.fa.fa-check
                %span.icon
                  %form{:method => "post", :action => "/delete/#{task.id}", :class => "card-footer-item"}
                    %button{:type => "submit", :value => "Delete", :title => "Delete Task", :class => "button is-small is-danger is-outlined"}
                      %span.icon.is-small
                        %i.fa.fa-times
    %section.section
      .container.has-text-centered
        %h4.subtitle Add a new Task
        %form{:method => "post", :action => "/new-todo", :class => "field has-addons has-addons-centered"}
          %p.control
            %input{:type => "text", :name =>"todo", :placeholder => "Task title", :class => "input"}
          %p.control
            %input{:type => "submit", :value => "Add Task", :class => "button is-info"}
